/* You can add global styles to this file, and also import other style files */
.form-control {
    border: 1px solid #ccc;
}

.error {
    &:focus {
        border-color: #E91E63;
        color: #E91E63;
    }

    border-color: #E91E63;
    color: #E91E63;
}

.invalid-feedback {
    color: #E91E63;
    display: block;
}