<div class="card-body">
    <h5 class="card-title">New Review</h5>
    <hr>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary" style="float: right" type="button" (click)="goToReview()">View Review</button>
                </div>
            </div>
            <div class="row custom-wrapper">
                <div class="col-md-12">
                    <!-- Form starts -->
                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Email</label><span></span>
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="eg: john@hotmail.com"
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" />
                                    <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Input is required</div>
                                        <div *ngIf="f.email.errors.email">Invalid email address</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Title</label>
                                    <textarea class="form-control" formControlName="title" placeholder="Title"
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.title.errors }"></textarea>
                                    <div *ngIf="isSubmitted && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">Input is required</div>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="review_types">
                                    <label>Review Type</label>
                                    <select class="custom-select"
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.review_type.errors }"
                                        (change)="changeReview($event)" formControlName="review_type">
                                        <option value="">Please select type</option>
                                        <option *ngFor="let rt of review_types" [value]="rt.id">{{rt.description}}
                                        </option>
                                    </select>
                                    <div *ngIf="isSubmitted && f.review_type.errors" class="invalid-feedback">
                                        <div *ngIf="f.review_type.errors.required">Input is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="5" formControlName="description" placeholder="Please explain about your review..."
                                        [ngClass]="{ 'is-invalid': isSubmitted && f.description.errors }"></textarea>
                                    <div *ngIf="isSubmitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Input is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                    </form><!-- Form ends -->
                </div>
            </div>
        </div>
    </div>
</div>