<%- include("partials/header") -%>

Complaints :-

<div class="ui main text container">
    <div class="ui huge header">Feedback</div>
    
            <% complaintData.forEach(function(data){ %>
                <div class="ui top attached segment">
                    <div class="ui divided items">
                <div class="item">
                   
                    <div class="content">
                        <div class="meta"><span><%=data.email %></span></div>
                        <div class="description"><p><%=data.cmnt %></p></div>
                        
                    </div>
                </div>
            
        </div>
    </div>
    <% }); %>


</div>

<%- include("partials/footer") -%>

